<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Welcome to Left Competitive</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="main">
  <div class="page">
    <a href="play.html" class="title"><img src="/image/title.png"></a>
    <div class="box">
      <div class="left-box">
        <div class="nav">
          <a href="" style="background-color: brown;">Home</a>
          <a href="">Rules</a>
          <a href="">Stats</a>
          <a href="">Team</a>
        </div>

        <div class="box-carr"> 
          <div id="carr-image"></div>
        </div>

        <div class="box-clips"> 
          <div class="title-clips">
            <span>Clips lefsito</span>
            <div class="btn-add">
              <a href="#ex1" rel="modal:open">Add Clips</a>
            </div>
          </div>
          <hr/>
          <div class="box-image">
            {{#if videos}}
              {{#each videos}}
                <div class="videos-box">
                  {{!-- <div class="btn-clip">
                    <a href="play.html/clip?id={{this._id}}">Ver clip</a>
                  </div> --}}
                  <a href="play.html/clip?id={{this._id}}"><img class="image-clip" src="https://img.youtube.com/vi/{{this.thumbnail_url}}/maxresdefault.jpg"></a>
                  <span class="title-video">{{this.title_link}}</span>
                </div>
              {{/each}}
              {{else}}
              <span class="no-clip">No hay clips</span>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="right-box">
        <div class="steam-user">
          {{#if displayName}}
            <a href="{{profileurl}}"><img class="icon2" src="{{avatar}}"></a>
          {{else}}
            <img class="icon" src="/image/icon.png">
          {{/if}}
          <div class="info-user-steam">
            {{#if displayName}}
              <b>{{displayName}}</b>
            {{else}}
              <b>Invitado</b>
            {{/if}}
            {{#if displayName}}
              <span class="on">Iniciado Sesión</span>
            {{else}}
              <span class="off">No iniciado Sesión</span>
            {{/if}}
          </div>
          <div class="btn-steam">
            {{#if displayName}}
              <a href="/logout" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            {{else}}
              <a href="/auth/steam" class="login-steam"><i class="fa-brands fa-steam"></i> Login with Steam</a>
            {{/if}}
          </div>
        </div>
        <hr>

        <div class="stats-main">
          <span class="title-main">Stats (Global)</span>
          <hr/>
          <div class="box-stats">
            <div class="stats-info">
              <b>Players:</b>
              <span>{{steam_length}}</span>
            </div>
            <div class="stats-info">
              <b>Games:</b>
              <span>0</span>
            </div>
            <div class="stats-info">
              <b>Clips:</b>
              <span>{{video_length}}</span>
            </div>
          </div>
        </div>

        <div class="box-players">
          <span class="title-main">Players</span>
          <hr/>
          <div class="all_user">
            {{#each steam}}
            <div class="user-steam">
              <a href="{{this.profileurl}}" target="_blank"><img src="{{this.avatar}}"></a>
              <span>{{this.displayName}}</span>
            </div>
            {{/each}}
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal">
  <form class="add_video" method="POST">
    <span>Titúlo:</span>
    <input type="text" name="title_link" required placeholder="Titúlo">
    <span>Link:</span>
    <input type="text" name="link_yt" required placeholder="https://www.youtube.com/watch?v=">
    <div class="btn-modal">
      <button type="submit">Subir clip</button>
    </div>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="/js/carrusel.js"></script>
</body>
</html>
