<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/team.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<title>LISTA DE EQUIPOS</title>
</head>
<body>
<div class="main">
	<div class="page">
		<a href="/play.html" class="title"><img src="/image/title.png"></a>
		<div class="box">
			<div class="left-box">
				<div class="nav">
					<a href="/play.html">Home</a>
					<a href="">Rules</a>
					<a href="/play.html/stats">Stats</a>
					
				</div>

				<div class="table-game"> 
					<table>
						<tr>
							<th>Código</th>
							<th>Team A</th>
							<th>Points A</th>
							<th>Team B</th>
							<th>Points B</th>
							<th>Acciones</th>
						</tr>
						{{#each games}}
							<tr>
								<td><b>{{this.code}}</b></td>
								<td>
									{{#each this.teamA.players}}
										{{this.displayName}}<br/>
									{{/each}}
								</td>
								<td><b class="point">{{this.teamA.points}}</b></td>
								<td>
									{{#each this.teamB.players}}
										{{this.displayName}}
									{{/each}}
								</td>
								<td><b class="point">{{this.teamB.points}}</b></td>
								<td>
									<a href="/play.html/admin/tm?id={{this.code}}" class="btn btn-primary">Editar</a>
								</td>
							</tr>
						{{/each}}
					</table>
				</div>

			</div>

			<div class="right-box">
				<div class="steam-user">
					{{#if displayName}}
						<a href="{{profileurl}}" target="_blank"><img class="icon2" src="{{avatar}}"></a>
					{{else}}
						<img class="icon" src="/image/icon.png">
					{{/if}}
					<div class="info-user-steam">
						{{#if displayName}}
							<b>{{displayName}}</b>
						{{else}}
							<b>Invitado</b>
						{{/if}}
						{{#if displayName}}
							<span class="on">Sesión Iniciada</span>
						{{else}}
							<span class="off">No iniciado Sesión</span>
						{{/if}}
					</div>
					<div class="btn-steam">
						{{#if displayName}}
							<a href="/logout" class="logout"><i class="bi bi-box-arrow-right"></i></a>
						{{else}}
							<a href="/auth/steam" class="login-steam"><i class="fa-brands fa-steam"></i> Login with Steam</a>
						{{/if}}
					</div>
				</div>
				<hr>

				<div class="stats-main">
					<span class="title-main">Others</span>
					<hr/>

					<div class="others-botton">
						<a href="/play.html/admin">Editar Jugadores</a>
						<a href="/play.html/admin/teams" id="game">Editar Partidas</a>
					</div>

					<span class="title-main">Admins</span>
					<hr/>
				</div>
			</div>
		</div>

	</div>
</div>

</body>
</html>