<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/team.css">
	<title>LISTA DE EQUIPOS</title>
</head>
<body>
<div class="main">
	<div class="page">
		<a href="/play.html" class="title"><img src="/image/title.png"></a>
		<div class="box">
			<div class="left-box">
				<div class="nav">
					<a href="/play.html">Home</a>
					<a href="">Rules</a>
					<a href="/play.html/stats">Stats</a>
					<a href="game">Games</a>
				</div>

				<div class="table-game"> 
					<table>
						<tr>
							<th>C贸digo</th>
							<th>Team A</th>
							<th>Points A</th>
							<th>Team B</th>
							<th>Points B</th>
							<th>Acciones</th>
						</tr>
						{{#each games}}
							<tr>
								<td>{{this.code}}</td>
								<td>
									{{#each this.teamA.players}}
										{{this.displayName}}<br/>
									{{/each}}
								</td>
								<td><b class="point">{{this.teamA.points}}</b></td>
								<td>
									{{#each this.teamB.players}}
										{{this.displayName}}{{#unless @last}}, {{/unless}}
									{{/each}}
								</td>
								<td><b class="point">{{this.teamB.points}}</b></td>
								<td>
									<a href="/play.html/admin/tm?id={{this.code}}" class="btn btn-primary">Editar</a>
								</td>
							</tr>
						{{/each}}
					</table>


				</div>

			</div>

			<div class="right-box">
				<div class="steam-user">
					{{#if displayName}}
						<a href="{{profileurl}}" target="_blank"><img class="icon2" src="{{avatar}}"></a>
					{{else}}
						<img class="icon" src="/image/icon.png">
					{{/if}}
					<div class="info-user-steam">
						{{#if displayName}}
							<b>{{displayName}}</b>
						{{else}}
							<b>Invitado</b>
						{{/if}}
						{{#if displayName}}
							<span class="on">Sesi贸n Iniciada</span>
						{{else}}
							<span class="off">No iniciado Sesi贸n</span>
						{{/if}}
					</div>
					<div class="btn-steam">
						{{#if displayName}}
							<a href="/logout" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
						{{else}}
							<a href="/auth/steam" class="login-steam"><i class="fa-brands fa-steam"></i> Login with Steam</a>
						{{/if}}
					</div>
				</div>
				<hr>

				<div class="stats-main">
					<span class="title-main">ADMINS</span>
					<hr/>
				</div>
			</div>
		</div>

	</div>
</div>

<!--
<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>C贸digo</th>
			<th>Jugadores</th>
			<th>Equipo A</th>
			<th>Puntos A</th>
			<th>Equipo B</th>
			<th>Puntos B</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{{#each games}}
		<tr>
			<td>{{this.code}}</td>
			<td>
				<ul>
					{{#each this.players}}
					<li>
						<img src="{{this.avatar}}" alt="{{this.displayName}}" width="30"> 
						{{this.displayName}}
					</li>
					{{/each}}
				</ul>
			</td>
			<td>
				<ul>
					{{#each this.teamA.players}}
					<li>
						<img src="{{this.avatar}}" alt="{{this.displayName}}" width="30"> 
						{{this.displayName}}
					</li>
					{{/each}}
				</ul>
			</td>
			<td>{{this.teamA.points}}</td>
			<td>
				<ul>
					{{#each this.teamB.players}}
					<li>
						<img src="{{this.avatar}}" alt="{{this.displayName}}" width="30"> 
						{{this.displayName}}
					</li>
					{{/each}}
				</ul>
			</td>
			<td>{{this.teamB.points}}</td>
			<td>
				<a href="/play.html/admin/tm?id={{this.code}}" class="btn btn-primary">Editar</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
-->

</body>
</html>